@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: 255 255 255; /* #ffffff */
  --color-background: 41 40 38; /* #292826 */
  --color-accent: 249 211 66; /* #f9d342 */
}